<!DOCTYPE html>
<head>
	<title>anApplication</title>
	
	<link type="text/css" rel="stylesheet" href="assets/css/normalize-2.1.0.css" />
	<link type="text/css" rel="stylesheet" href="assets/vendorLibs/bootstrap/css/bootstrap.css" />
	<link type="text/css" rel="stylesheet" href="assets/css/appMain.css" />
	
</head>
<body>
	<div id="applicationContainer" class="container">
		<div class="row">
		  <div id="idNavigation" class="span12 midText">
				<span class="label">A Backbone </span>
		  </div>
		</div>
		<div class="row">
		  <div id="idLeft" class="span3 bgGrey midText">left</div>
		  <div id="idMain" class="span9 bgGrey midText">main</div>
		  <div id="idSlides" class="offset3 span9 bgGrey midText"></div>
		</div>
	</div>
	
	<!-- Begin : Templating -->
	<script id="slide_template" type="text/template">
		<div>
			<h1><% print(pageTitle); %><small><%= subTitle %></small></h1>
		  			<div><%= description %></div>	
		  	<div>Slides by : me</div>
		</div>
	</script>
	<!-- End : Templating -->
	<!-- initialise the application -->
	<script data-main="src/appMain.js" src="assets/js/require-2.1.4.js"></script>	
</body>