/*
body {
        padding-top: 0px;
        padding-bottom: 40px;
      }
*/
/* Custom container */
/*
.container-narrow {
        margin: 0 auto;
        max-width: 700px;
        background-color: #CCCCCC;
        text-align: center;
      }
*/
body {
	padding-top: 0px;
}
.bgGrey {
	background-color: #CCCCCC;
}
.midText {
	text-align: center;
}
.midHigh {
	min-height: 400px;
}
.descStyle {
	min-height: 200px;
}
.slideNum {
	margin-top: 10px;
}
.footerNav {
	margin-top: 50px;
}


.authorName {
}
