/*
body {
        padding-top: 0px;
        padding-bottom: 40px;
      }
*/
/* Custom container */
/*
.container-narrow {
        margin: 0 auto;
        max-width: 700px;
        background-color: #CCCCCC;
        text-align: center;
      }
*/
.bgGrey {
	background-color: #CCCCCC;
}
.midText {
	text-align: center;
}
